{# templates/list/index.html.twig #} {% extends 'base.html.twig' %} {% block
    body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-body">
                        <div class="card-header"><h2>Your data</h2></div>
                        {% if app.user != null %}
                            <br>
                            <h5>Name: <span style="color:red">{{ app.user.name }}</span></h5><hr>
                            <h5>Surname: <span style="color:red">{{ app.user.surname }}</span></h5><hr>
                            <h5>PESEL: <span style="color:red">{{ app.user.pesel }}</span></h5><hr>
                            <h5>Email: <span style="color:red">{{ app.user.email }}</span></h5><hr>
                            <h5>Language: <span style="color:red">{{ app.user.programmingLanguage }}</span></h5>
                        {% endif %}
                    </div>
                </div>
                {% if app.user == null %}
                    <a href="{{ path('app_login') }}" class="btn btn-info">
                        You need to login to see the list 😜😜 >></a
                    >
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}